.cards {
  padding: 16px;
  height: 350px;
  display: flex;
  justify-content: space-between;
}

.card {
  /*display: flex;*/
  /*align-items: space-between;*/
  height: 350px;
  width: 280px;
  box-shadow: 2px 0 8px rgba(200, 200, 200, 0.4);
}

.card img {
  height: 180px;
  margin-top: 16px;
  width: 160px;
}

.card h3 {
  margin: 0;
}

.card p {
  padding: 8px 16px;
  font-weight: lighter;
  font-size: 16px;
  color: #777;
}
